<!--{template common/header}-->
<style type="text/css">
	#descriptionid{
		width:300px;
		height:30px;
		margin-left:70px;
		margin-top:30px;
		font-size:15px;	
	}
	#selectid{
		margin-top:50px;
		margin-left:180px;
	}
</style>
<h3 class="flb">
	<em>$navtitle</em>
	<span><a href="javascript:;" class="flbc" onclick="hideWindow('kouei_help'); return false;" title="关闭">关闭</a></span>
</h3>
<div style="width: 428px; height: 160px;" id="ltg_weixin">
	<div id="descriptionid">$metadescription</div>
	<div id = "selectid">
	<button><a href="">$yes</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="">$no</a></button>
	</div>
</div>
<!--{template common/footer}-->
